<style>
  .custom-restricted-width {
    /* To limit the menu width to the content of the menu: */
    display: inline-block;
    /* Or set the width explicitly: */
    /* width: 10em; */
  }
</style>
<div class="pure-menu pure-menu-horizontal">
  <ul class="pure-menu-list">
    <li class="pure-menu-item"><a href="search" class="pure-menu-link">検索</a></li>
    <li class="pure-menu-item"><a href="#about" class="pure-menu-link">このサイトについて</a></li>
    <li class="pure-menu-item"><a href="#about-good-novel" class="pure-menu-link">名作ライトノベルの定義とは？</a></li>
    <!-- <li class="pure-menu-item"><a href="#about-us" class="pure-menu-link">Studio 4単位とは？</a></li> -->
  </ul>
</div>

<h2 id="about">このサイトについて</h2>
このサイトはライトノベルのデータベースって無くね？と考えた作者の自己満足と作者の勉強用にと作られたサイトです。
開発にはRubyの<a href="http://flask.pocoo.org/">Sinatra</a>を使いました。
オリジナルのPython(Flask)版を移植したやつです
Gitリポジトリは<a href="https://github.com/eniehack/sinatra-lightnoveldb">ここ</a>です

<h2 id="about-good-novel">このサイトのいう、名作ライトノベルの定義は？</h2>
名作ライトノベルとしてこのデータベースに登録されるための条件は、
<ol>
  <li>その作品の作者、または、読者の大半がこれはライトノベルだ、と主張しているもの、もしくは、その作品が刊行されているレーベルがライトノベルのレーベルであるとわかるもの。</li>
  <li>物語の一部または全てが映像化されている、もしくはされる予定のもの。</li>
  <li>根強く読者の支持を得ているもの。</li>
  <li>新人賞を除く、何らかの賞を受賞しているもの。</li>
</ol>
のうち、3つ以上を満たすものです。あとは作者の独断と偏見です。