!!!
%head
  %title #{@title}
  %link{rel: "stylesheet", href: "css/menus-min.css"}
  %link{rel: "stylesheet", href: "css/skeleton.css"}
  %link{rel: "stylesheet", href: "css/style.css"}

%body
%header{class: "header"}
  %h1 名作ライトノベル作品データベース

%main
  = yield

%br
%a{href: "/"}Back to Home
%p
  %small &copy;2018
  %a{href: "https://twitter.com/intent/user?user_id=3503112972"}Studio 4単位/Eniehack
  %br

