%form{method:"post", action:"search"}
    %fieldset
    %legend作品検索

    %div{class:"six columns"}
        %label{for:"name"}作品名 及び その一部
        %input{type:"text", name:"title"}


    %div{class:"six columns"}
        %label{for:"name"}文庫名
        %select{name:"label"}
            %option{value:"NULL"}指定しない
            %option{value:"ガガガ文庫"}ガガガ文庫
            %option{value:"富士見ファンタジア文庫"}富士見ファンタジア文庫
            %option{value:"電撃文庫"}電撃文庫
            %option{value:"MF文庫J"}MF文庫J

    %div{class:"pure-control-group"}
        %label{for:"name"}作家名
        %input{type:"text", name:"writer"}

        %div
            %label{for:"name"}ジャンル
            %select{name:"genre"}
                %option{value:"NULL"}指定しない
                %option{value:"ラブコメ"}ラブコメ
                %option{value:"SF"}SF</option>
                %option{value:"ファンタジー"}ファンタジー

        %button{type:"submit", class:"button-primary"}検索
        %button{type:"reset", class:"button"}リセット
